@model JobLinq.Web.Models.Tblilan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tblilan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Sirket" class="control-label"></label>
                <input asp-for="Sirket" class="form-control" />
                <span asp-validation-for="Sirket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departman" class="control-label"></label>
                <input asp-for="Departman" class="form-control" />
                <span asp-validation-for="Departman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecrube" class="control-label"></label>
                <input asp-for="Tecrube" class="form-control" />
                <span asp-validation-for="Tecrube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EgitimSeviyesi" class="control-label"></label>
                <input asp-for="EgitimSeviyesi" class="form-control" />
                <span asp-validation-for="EgitimSeviyesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YabancilDil" class="control-label"></label>
                <input asp-for="YabancilDil" class="form-control" />
                <span asp-validation-for="YabancilDil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalismaSekli" class="control-label"></label>
                <input asp-for="CalismaSekli" class="form-control" />
                <span asp-validation-for="CalismaSekli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozisyon" class="control-label"></label>
                <input asp-for="Pozisyon" class="form-control" />
                <span asp-validation-for="Pozisyon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sehir" class="control-label"></label>
                <input asp-for="Sehir" class="form-control" />
                <span asp-validation-for="Sehir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IlanDetay" class="control-label"></label>
                <input asp-for="IlanDetay" class="form-control" />
                <span asp-validation-for="IlanDetay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
